:root {
    --color-text: #452829;
    --color-background: #F3E8DF;
    --color-dark-background: #E8D1C5;
    --color-accent: #57595B;
}


html {
    background-color: var(--color-background);
    font-family: sans-serif;
}

body {
    margin: 0;
    width: 100%;
    line-height: 1.5;
}

.container {
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 10rem;
    font-size: 2.5rem;
}

p {
    margin: 0 10rem;
}