---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import ProjectsNavigation from "../components/ProjectsNavigation.astro";
---

<Navigation />
<h1>Projects</h1>
<ProjectsNavigation />
